# gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Idea
.classpath
.idea/
out/
bin/

# Vim

# build files
build/

# eclipse
.settings
.project

# resources
/gt-bcgis/src/main/resources/1F/
/gt-bcgis/src/main/resources/BL/
/gt-bcgis/src/main/resources/D/
/gt-bcgis/src/test/resources/certs/
