# gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Idea
.classpath
.idea/
out/
bin/
classes/
lib/

# Vim

# build files
build/

# eclipse
.settings
.project

# resources
/gt-bcgis/src/main/resources/1F/
/gt-bcgis/src/main/resources/BL/
/gt-bcgis/src/main/resources/D/
/gt-bcgis/src/test/resources/certs/
/gt-bcgis/src/main/resources/geometryCollection.wkb
gt-bcgis/src/main/resources/rtree.bin
chaincode/src/main/main1.iml
gt-bcgis/src/test.wkb
gt-bcgis/src/WEB-INF/web.xml
gt-bcgis/src/main/main.iml
gt-bcgis/src/main/resources/rtree.txt
gt-bcgis/src/main/resources/WKB.wkb
gt-bcgis/src/test/test.iml

# node_modules
web/node_modules/
web/package-lock.json
web/bcgis-app/package-lock.json
